{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Frequently asked questions{% endblock %}

{% block content %}
<article class="page">

    <h1>Your questions, answered</h1>


    <h2>Why should I add my project to the Code Shelter</h2>

    <p>
    By adding your project to the Code Shelter, you gain access to a <a href="{% url "maintainers" %}">wide community of
      vetted maintainers</a>, some of whom may already be interested in maintaining your project.
    </p>
    <p>
    Conversely, if someone is interested in maintaining your project, they can join the Code Shelter and gain access to
    your project and <strong>every other</strong> project in the community. It's a win-win for both projects and
    maintainers.
    </p>

    <h2>Who are the maintainers?</h2>
    <p>
    <a href="{% url "maintainers" %}">The maintainers</a> in the team are volunteer software developers who have been
    vetted for their experience and integrity. Every single maintainer is hand-picked so you can rest assured that your
    project will be in good hands.  Of course, you will always remain the project owner, unless you decide to transfer
    the entire project to us.
    </p>


    <h2>Who are the contributors?</h2>
    <p>
    <a href="{% url "contributors" %}">The contributors</a> in the team are volunteer software developers whose
    credentials we couldn't validate adequately, for whatever reason, but who are nonetheless full members of Code
    Shelter and contribute equally. Contributors can still maintain projects fully, the only difference being that they
    need to cooperate with a maintainer for merging code, releasing, etc, as they do not have commit access to projects.
    </p>


    <h2>How do I ask you for help with one of my projects?</h2>
    <p>
    That is an easy two-step process (we currently support GitHub and GitLab). Just visit the
    <a href="{% url "project-add" %}">"add project"</a> page to begin.
    </p>

    <p>
    Also, if your project is in Python and has releases on PyPI, you need to add the <code>codeshelter</code> user as an
    admin to your PyPI project, so we can make releases on your behalf.
    </p>

    <p>Support for BitBucket and other providers is coming soon!</p>


    <h2>How can I help if I'm not a member?</h2>

    <p>
    If you aren't a Code Shelter member and don't have projects you want to add, you can still help out! Join
    Code Shelter as a maintainer or contributor, tell to your friends about it, or post it on social media.
    </p>

    <p>
    If you notice that activity on a project has stalled, here's a helpful message you can post on the project's issue
    tracker to ask the maintainers to add the project to Code Shelter:
    </p>

    <h4>Issue subject:</h4>
    <p>Offering to help with the project</p>

    <h4>Issue body:</h4>
    <p>
    I've noticed that activity on this project has slowed, and I was wondering if you needed some help. Would you
    consider adding the project to [Code Shelter](https://www.codeshelter.co/)? It's an open community of FOSS
    maintainers (please feel free to join!) that aims to help FOSS projects out (fixing bugs, merging PRs, releasing,
    etc), and I'm a member and can help.
    </p>

    <p>
    You can [read more details about it](https://www.codeshelter.co/faq/) or [add your
    project](https://www.codeshelter.co/projects/add/) to it.  There are also people available to help on the Code
    Shelter [chat channel](https://codeshelter.zulipchat.com/).
    </p>

    <p>Thanks!</p>


    <h2>How is Code Shelter better than <a href="https://jazzband.co/">Jazzband</a> and other similar efforts?</h2>

    <p>Well, the goal isn't really to be <b>better</b>, since we're all in it for the love of the FOSS ecosystem, but
    Code Shelter aims to be a more general community, including projects from any language/framework (not just Django).
    Code Shelter also doesn't require you to move your repository in an organization, so you can keep your hard-earned
    recognition.</p>


    <h2>What level of maintenance are you aiming for?</h2>

    <p>
    At the very least, we would like our memebrs to review/merge pull requests, fix critical bugs and make releases.
    Past that, the level of involvement is up to the maintainer(s) of each project, and obviously the more the better,
    but the explicit stated goal of Code Shelter is to allow popular projects to continue to live and evolve.
    </p>


    <h2>What counts as "popular"?</h2>

    <p>We don't know yet. For now, we're letting the members themselves decide which projects they want to work on,
    which will probably be influenced by how widely used a project is. However, maybe one of the members is using
    a particular obscure library that has been struggling and they have a vested interest in its development, and they
    choose that. It's up to them.</p>


    <h2>Can I remove Code Shelter if I change my mind?</h2>

    <p>Yes you can! Simply remove the Github application or revoke the permission on Gitlab and your package registry,
    and we won't have access to your code any more.</p>

    <p>
    If there's a problem with a specific member, please open a (potentially private) issue on our <a
        href="https://gitlab.com/codeshelter/codeshelter-web/issues">issue tracker</a> or email us directly at <a
        href="mailto:team@codeshelter.co">team@codeshelter.co</a> and we'll resolve it as soon as possible.
    </p>


    <h2>Why is there suddenly a little icon on my project's description?</h2>

    <p>
    Code Shelter adds a little tent icon (⛺) in your description so members know that your project is in the
    Shelter. That way, if they happen to randomly come across it, they'll know they can easily contribute and help out.
    </p>


    <h2>Is there a difference between transferring the project to you and installing the Code Shelter app?</h2>

    <p>Installing the app allows us to add ourselves as collaborators to your repository, but keeps you as an owner and
    keeps the repository under your user account, so your name will be visible when someone visits.</p>

    <p>Transferring the project to the Code Shelter organization makes our lives a bit easier, as our members will
    have more control over the project and will be able to maintain it more easily and effectively.</p>


    <h2>How can I add one of those awesome Code Shelter badges to a project?</h2>

    <p>
    First, make sure the project is <b>actually</b> in the Shelter. Then, use one of the following snippets, depending
    on the format you need:
    </p>

    <p>Markdown:</p>
    <pre>[![Code Shelter](https://{{ current_site.domain }}/static/badges/badge-flat.svg)](https://{{ current_site.domain }}/)</pre>

    <p>reStructuredText:</p>
    <pre>.. image:: https://{{ current_site.domain }}/static/badges/badge-flat.svg
    :target: https://{{ current_site.domain }}</pre>

    <p>HTML:</p>
    <pre>&lt;a href="{{ current_site.domain }}"&gt;
    &lt;img src="https://{{ current_site.domain }}/static/badges/badge-flat.svg"&gt;
&lt;a&gt;</pre>

    You can use any of these badges, in SVG or PNG format:

    <p><img src="https://{{ current_site.domain }}{% static "badges/badge-flat.svg" %}"></p>
    <p><img src="https://{{ current_site.domain }}{% static "badges/badge-plastic.svg" %}"></p>
    <p><img src="https://{{ current_site.domain }}{% static "badges/badge-flat-square.svg" %}"></p>
    <p><img src="https://{{ current_site.domain }}{% static "badges/badge-for-the-badge.svg" %}"></p>


    <h2>How does &lt;other thing&gt; happen/work?</h2>

    <p>We aren't sure yet, we're figuring stuff out. If you have ideas, please <a
        href="https://gitlab.com/codeshelter/codeshelter/issues">open an issue on our issue tracker</a> or join
    <a href="https://codeshelter.zulipchat.com/">our chat server</a>!
    </p>
</article>
{% endblock %}
