{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Code Shelter Mentorship{% endblock %}

{% block content %}


<article class="page mentorship">

    <h1>Code Shelter Mentorship</h1>

    <h2>What is Code Shelter Mentorship?</h2>

    <p>
    If you're interested in improving your software development skills, Code Shelter Mentorship is here to help. The
    aim of the program is to help newer developers get more experience while contributing to Open Source Software.
    </p>

    <h2>How does Code Shelter Mentorship work?</h2>

    <img class="shape-1" src="{% static "images/mentorship1.svg" %}">

    <p>
    It's simple: You pick a project to contribute to, and <a href="https://codeshelter.zulipchat.com/">join our chat</a>
    to be paired with a maintainer, who will be your mentor. You then write code and issue pull requests on actual
    real-world projects, your mentor reviews them and gives you feedback on what you did well or what you can improve,
    and together you work on your pull requests until they are merged.
    </p>

    <p>
    This is a great way to get feedback on real code that gets shipped to thousands of people while contributing to
    Open Source Software. The feedback you get is from experienced developers who have years of experience in their
    respective domains, which helps you improve your skills drastically.
    </p>

    <h2>Sounds great! How do I join?</h2>

    <img class="shape-2" src="{% static "images/mentorship2.svg" %}">

    <p>
    Getting started is very easy: Simply <a href="{% url "maintainer-application" %}">become a contributor</a> if you
    aren't already one (you'll want to read the information about contributors on that page).
    </p>

    <p>
    Then,
    <a href="https://codeshelter.zulipchat.com/#narrow/stream/150376-new-members">join our Zulip
      server</a>, create a new topic in the "new members" stream introducing yourself, and tell us which
    <a href="{% url "projects" %}">projects</a> you'd be interested in working on. One of the maintainers will tell you
    how to proceed.
    </p>

    <p>
    Good luck!
    </p>

    <section class="actions clear">
        <div>
            <a href="{% url "maintainer-application" %}" class="button add-project">Become a<span>contributor</span></a>
        </div>

        <div>
            <a href="https://codeshelter.zulipchat.com/" class="button add-project">Join our<span>chat server</span></a>
        </div>
    </section>

</article>
{% endblock %}
